.button {
    padding: 10px 20px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    transition: background .2s linear;
    margin: 15px;
}
.button:hover {
    background: lightseagreen;
}