.header {
    max-width: 390px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

}
.username {
    margin-left: auto;
}
.logoContainer{
    display: flex;
    padding: 0 20px;
}