.product {
    padding: 15px;
    width: 170px;
    border: 1px solid var(--tg-theme-button-color);
}
.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: lightpink;
}
.description {
    font-size: 0.8em;
}
.add-btn {
    width: 100%;
}